body {
    font-family: Arial, sans-serif;
    background: #e8e8e8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.screen {
    display: none;
    width: 360px;
    background: white;
    margin-top: 20px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 10px #0003;
}

.screen.active {
    display: block;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

input, button {
    width: 100%;
    padding: 12px;
    border-radius: 20px;
    border: 1px solid #aaa;
    margin-top: 10px;
}

button {
    background: #2ecc71;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

button.volver {
    background: black;
}

.galeria {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.galeria img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    border-radius: 10px;
}
